@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 54px;
  color: #ffee99;
}

.txt-azul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: blue;
}
